@import "../../utilities/variables";
@import "../../utilities/animations";

header {
    height: $headerHeight;
    width: 100%;
    .inner-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      .logo {
        a {
          font-weight: 300;
          text-decoration: none;
          letter-spacing: 1.5px;
          font-size: medium;
        }
      }
      .navigation {
        nav {
          a {
            margin: 0 20px;
            letter-spacing: 1.75px;
            font-size: 0.75rem;
            &:last-child {
              margin-right: 0px;
            }
            &:hover {
                color: $links;
            }
          }
        }
      }
    }
    animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: 1s;
  }