@import "../../utilities/variables";
@import "../../utilities/base";
@import "../../utilities/mixins";
@import "../../utilities/animations";

* {
    font-family: $font;
    color: $main-text;
}

//Content Sizes
.content-lg {
    margin: 74px auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    align-items: center;
    min-height: calc(100vh - #{$headerHeight});
    overflow: hidden;
    animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: 1s;
}

.subtitle {
    letter-spacing: 4px;
    font-weight: $fontweight-light;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

ul li {
    padding-right: 25px;
    @media (max-width: 700px) {
        display: block;
        margin: 1rem 0px;
    }
    &.work {
        display: inline;
    }
}

.is-highlight {
    color: $highlight !important;
}

h1, h2 {
    margin: 0;
}
