@import "./variables";
@import "./mixins";

//Base Font Size
html {
    @include interpolate(font-size, 320px, 1366px, 14px, 20px);
    color: $main-text;
}

body {
    margin: 0;
    background-color: $background;
}

h1,h2,h3,h4,h5 {
	@include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem);
}

p {
    letter-spacing: 1.5px;
    font-weight: 400;
    line-height: 1.5rem;
}

// Colors
.is-green {
    color: $light-green;
}
.is-red {
    color: $light-red;
}
.is-yellow {
    color: $light-yellow;
}
.is-blue {
    color: $light-blue;
}
.is-orange {
    color: $light-orange;
}

// Links
a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
        color: $links;
    }
    &.underline {
        text-decoration: underline;
    }
}
