@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

//Fonts
$font: Work-Sans, sans-serif;

//Colors
$white: #fff;
$slate: #353434;
$maroon: #83333e;
$off-white: #f2f4f5;
$green: #7dc485;

//Sizes
$headerHeight: 80px;

//Typography
$size-1: 4rem;
$size-2: 3rem;
$size-3: 2.5rem;
$size-4: 2rem;
$size-5: 1.5em;
$size-6: 1.25rem;

$fontweight-light: 400;
$fontweight-medium: 600;
$fontweight-semibold: 800;