@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

//Fonts
$font: Work-Sans, sans-serif;

//Colors
$background: #fff;
$main-text: #393232;
$links: #8e9490;
$highlight: #7dc485;

$light-green: #7dc485;
$light-red: #ff7777;
$light-yellow: #f5cb5c;
$light-blue: #05668d;
$light-orange: #ff9f1c;

//Component Sizes
$headerHeight: 80px;
$block-spacing: 1.5rem !default;

//Typography Sizes
$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

//Typography Weights
$fontweight-light: 400;
$fontweight-medium: 600;
$fontweight-semibold: 800;

